[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bugzilla = "==1.0.0"
coloredlogs = "==10.0"
image = "==1.5.27"
iris = {path = ".",editable = true}
flaky = "==3.6.1"
funcy = "==1.13"
gitpython = "==3.0.5"
more-itertools = "==8.0.2"
mozdownload = "==1.26"
mozinfo = "==1.1.0"
mozinstall = "==2.0.0"
mozrunner = "==7.7"
mozversion = "==2.2.0"
mss = "==4.0.3"
numpy = "==1.17.2"
opencv-python = "==4.1.1.26"
packaging = "==20.0"
psutil = "==5.6.3"
pyautogui = "==0.9.48"
pygithub = "==1.43.8"
pynput = "==1.6.5"
pyperclip = "==1.7.0"
pytesseract = "==0.3.0"
pytest = "==5.3.5"
python-dateutil = "==2.8.1"
# Platform dependencies
xlib = {platform_system = "== 'Linux'",version = "==0.21"}

[dev-packages]
pep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
